
<!DOCTYPE html>
<html>
  <head>
    <title>DatingChat</title>
<link rel="stylesheet" href="styles.css">
    <script src="../../socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1 id="usr"></h1>
    <div id="chat">
        <div id="chat-scherm">
            <div id="tekst"></div>
            <div id="feedback"></div>
        </div>
        <input type="text" id="bericht" placeholder="bericht">
        <button id="send"> verstuur</button>
    </div>

    <script src="styles.js"></script>
  </body>
</html>