

<link rel="stylesheet" href="/styles.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">



<form action="/inloggen" method="POST" class="form2">
  <h1>Login</h1>

<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
  <div>
    <label for="email"> Uw Emailadress</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Uw Wachtwoord</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit" class="submit">Inloggen</button>
  <a href="/registreren">Registreren</a>
</form>
