

<link rel="stylesheet" href="/styles.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">




<form action="/registreren" method="POST">
  <h1>Registreren</h1>

  <div>
    <label for="name">Uw Gebruikersnaam</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Uw Emailadress</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Uw Wachtwoord</label>
    <input type="password" id="password" name="password" required>
  </div>

  <button type="submit" class="submit">Registreren</button>
  <a href="/inloggen">Login</a>
</form>
