
<link rel="stylesheet" href="/styles.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<main class="main">
<h1>Overzicht</h1>
<h1 >Welkom <%= user.name %></h1> 
<h1>Je email is: <%= user.email %> </h1>
<h2> Je Geboortedag: <%= user.date %></h2>

<a href="/users/logout">Uitloggen</a>
</main>
<!--overzicht met ingevulde gegegevens-->