body {
    font-family: 'Oswald';
    background-color: rgb(245, 215, 215);
    background-image: url('bg3.jpg');
    background-repeat: no-repeat;
}

form {
    background-color: rgba(71, 71, 71, 0.856);
    width: 500px;
    height: 500px;
    margin: 20vh 0;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(0, 0, 0);
    margin-left: 10%;
}

.form2 {
    background-color: rgba(71, 71, 71, 0.856);
    width: 500px;
    height: 400px;
    margin: 20vh 0;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(0, 0, 0);
    margin-left: 10%;
}


#email, #name {
width: 85%;
color: rgb(71, 71, 71);
font-size: 20px;
padding: 10px 20px;
border-radius: 20px;
background:rgb(196, 196, 196);
outline: none;
border: 2px solid rgba(252, 252, 252, 0.089);
margin-bottom: 27px;
font-family: 'Oswald';
text-align: center;
}

form {
    padding-top: 0px;
    text-align: center;

}

#password {
    width: 85%;
color: rgb(51, 51, 51);
font-size: 20px;
background: rgb(196, 196, 196);
padding: 10px 20px;
border-radius: 20px;
outline: none;
border: 2px solid rgba(0, 0, 0, 0.02);
text-align: center;
margin-bottom: 50px;
font-family: 'Oswald' 

}

h1, label{
    color: white;
}


.submit {
  cursor: pointer;
    border-radius: 5em;
    color: white;
    background: rgb(139, 139, 139);
    padding: 10px 90px;
    font-family: 'Oswald';
    font-size: 18px;
    border: none;


}

a {
    color:white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 3%;

}



/* inspiratie : https://codepen.io/Devel0per95/pen/rjOpdx
    




