<link rel=stylesheet href=/styles.css>


  
<h2> <%= data.title %> </h2>
<h2>  <%= data.plot %> </h2>
<h3>  <%= data.description %> </h3>

<p>
    <button
      id=js-remove
      data-id="<%= data.id %>"
      class=danger
    >Remove</button>
  </p>
  <p><a href="/">Back to list</a></p>