<!doctype html>
<link rel=stylesheet href=/styles.css>
<title>Movies - My movie website</title>
<h1>Movies</h1>

<p >
  <a class="button" href=/add>Add a movie</a>
</p>

<% for (var index = 0; index < data.length; index++) { %>
  <h2>
    <a href="/<%= data[index].id %>">
      <%= data[index].title %>
    </a>
  </h2>
  <p><%= data[index].plot %></p>
<% } %>
