
<link rel="stylesheet" href="/styles.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<body>
    

<main class="main">

<h1 class="login">Registreren</h1>
<form action="/register" method="POST">
<div>

    <input type="text" id="name" name="name" required class="user" placeholder="Naam">
</div>

<div>
 
    <input type="email" id="email" name="email" required placeholder="Emailadress" class="user">
</div>

<div>

    <input type="password" id="password" name="password" required placeholder="Wachtwoord" class="pass">
</div>
<button type="submit" class="submit"> Registreren</button>
</form>
<div class="test">
<a href="/login" class="vergeten">Heb je al een account?</a>
</div>
</main>
</body>
